:root {
  --brand:#0A3D62;
  --accent:#1b6eff;
  --white:#fff;
  --shadow:0 8px 24px rgba(0,0,0,.15);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #f5f8ff;
  color: #333;
} 


/* Hero */
.hero {
  min-height: 70vh;
  background: linear-gradient(rgba(10,61,98,.6),rgba(10,61,98,.6)),
              url('https://images.unsplash.com/photo-1533105079780-92b9be482077?q=80&w=1200') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  padding: 2rem;
}
.hero h1 { font-size: 3rem; }
.hero p { font-size: 1.2rem; }

/* Buttons */
.btn {
  display: inline-block;
  padding: .9rem 1.4rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(10, 61, 98, 0.7);
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    max-width: 1200px;
    margin: 10px auto;
    height: 70px;
    left: 0;
    right: 0;
    z-index: 1000;

}

.navbar:hover {
    background: rgba(10, 61, 98, 0.85);
}

.nav-logo {
    font-weight: bold;
    font-size: 25px;
    width:  50px; 
    height:50px;
   
}
.nav-logofont {
    font-weight: bold;
    font-size: 25px;
    margin-right: auto;
    padding-left: 20px;
   
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 80px 10px 60px 0px;
    
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
    
}


.nav-links li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #FFD700;
}

.btn-primary {
  background: var(--accent);
  color: var(--white);
  box-shadow: var(--shadow);
}
.btn-primary:hover { background:#2a7bff; }

/* Sections */
section {
  max-width: 900px;
  margin: 3rem auto;
  padding: 1rem;
}
section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--brand);
}

/* FAQ */
.faq-item {
  background: var(--white);
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

